<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Seite</title>
</head>
<body>

   <form action="/wetter" method="post">
   <label for="sname">Für welche Stadt soll das Wetter ausgegeben werden? :</label>
   <input type="text" id="stadt" name="stadt"><br><br>
   <input type="submit" value="Temperatur anzeigen">
   </form>

    <form action="/uhrzeit" >
    <input type="submit" value="Uhrzeit anzeigen">
    </form>


   <form action="/telefon" method="post">
   <label for="phone">Prüfung Nummer :</label>
   <input type="tel" id="phone" name="phone"><br><br>
   <input type="submit" value="Nummer prüfen">
   </form>

</body>
</html>